<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="{{ '/css/style.css' | url }}" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300&display=swap" rel="stylesheet">
</head>
<body id="main">
    <header class="header">
        <h1>Kevin Xu | Generative Art</h1>
        <a href="https://www.kxvin.com/art/">Back to Main Site</a>
        <div class="slider">
            <input type="range" min="10" max="50" value="30" step="5" oninput="changeWidths(value)"></input>
        </div>
        <script>
            function changeWidths(value){
                //console.log(document.querySelectorAll(".panel-img"));
                document.querySelectorAll(".panel-img").forEach((e) => {
                    e.style.maxWidth = value + "vw";
                });
            }
        </script>
    </header>
	
	<main>
	{{ content | safe }}
	</main>

    <footer class="footer">
        <a href="#main">Back to top</a>
    </footer>
</body>
</html>