@import "colors.scss";
html {
    scroll-behavior: smooth;
}

body {
    margin: 5vmin 15vmin;
    font-family: 'Open Sans', sans-serif;
    color: $color-text;
    background-color: $color-bg;
}

a {
    color: $color-text;
    // text-decoration: none;
}

.header {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    .slider {
        margin-top: 1rem;
        width: 10rem;
    }
}
.footer {
}

.gallery {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 2rem;
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    
    img {
        min-width: 260px;
        min-height: 260px;
        // max-width: 40vw;
        width: 100%;

        object-fit: contain;

        filter: drop-shadow(0px 1px 5px black);
    }
    
    .title {
        font-weight: 300;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        text-align: center;

        padding: 0.2rem 1rem 0.5rem 1rem;
        color: $color-bg;
        background-color: $color-text;
    }

    .title::before{
        content: "⎯⎯⎯⎯⎯";
        text-align: center;
        color: gold;
    }

}