---
layout: base.njk
title: The Gallery
---

{# <h1>hi</h1> #}

<div class="gallery">
    {% for image in images %}
    <div class="panel">
        <img src="/img/{{image}}"/>
        <div class="title">{{image | replace(".jpg", "")}}</div>
    </div>
    {% endfor %}
</div>